<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<% include common/_header.ejs %>
    <div>
        <h1>test1</h1>
    </div>
<% include common/_footer.ejs %>
</body>
</html>
