<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <% var title = "タイトル" %>
    <h1><%= title %></h1>

    <ul>
    <% for (var i = 0; i < 5; i++) { %>
        <li><%= i %>番目のリスト</li>
    <% } %>
    </ul>

</body>
</html>











