<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
    <% for (var i = 0; i < people.length; i++) { %>
        <li>
            <p><%= people[i] %></p>
        </li>
    <% } %>
    </ul>
</body>
</html>
